<div class="square"
    [class.first-row]="isFirstRow"
    [class.last-row]="isLastRow"
    [class.first-col]="isFirstCol"
    [class.last-col]="isLastCol"
    [class.not-first-row]="!isFirstRow"
    [class.not-last-row]="!isLastRow"
    [class.not-first-col]="!isFirstCol"
    [class.not-last-col]="!isLastCol"
    [class.value-x]="this.value"
    [class.value-0]="this.value===false"
    [class.value]="this.value!=undefined"
    [class.not-value]="this.value==undefined"
    id="square-{{row}}-{{col}}"
    (click)="this.onClick()"
>{{row}}-{{col}}</div>
